.card{
    width: 200px;
    height: 500px;
    position: relative;
    background-color: #FFCBCB;
    border-radius: 10PX;
    box-shadow: rgba(0,0,0,0.35);
}
.cardBody{
    width: 200px;
    min-height: 200px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardBody img{
    width: 200px;
    height: 200px;
    background-position: cover;
    border-radius: 10px;
}

.about{
width: 100%;
height: 270px;
display: flex;
justify-content: center;
align-items:center;
flex-direction: column;
padding: 5px;

}

button{
    width: 100px;
    height: 30px;
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgb(144, 177, 177);

}

button:hover{
    background-color: black;
    color: white
}